<form id="chat" class="mb-5" action="#" method="POST">

    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" required />
    </div>
    
    <hr>
    
    <small class="form-text text-muted">Messages:</small>
    <ul id="messages"></ul>

    <hr>

    <div class="form-group">
      <textarea class="form-control" id="message" name="message" required></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Send">

</form>