<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Express Handlebars</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Express-handlebars</a>
    </nav>

    <div class="container pt-5">
        {{{ body }}}
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    var socket = io();
    
    var productsTable = document.getElementById('products');
    var form = document.getElementById('form');
    var title = document.getElementById('title');
    var price = document.getElementById('price');
    var thumb = document.getElementById('thumb');

    form.addEventListener('submit', function(e) {
        e.preventDefault();
        if(title.value || price.value || thumb.value) {
            var product = {
                title: title.value, 
                price: price.value, 
                thumbnailUrl: thumb.value
            }
            socket.emit('new product', product);
            title.value = '';
            price.value = '';
            thumb.value = '';
        } 
    });

    socket.on('new product', function(product) {
        console.log(product)
        var productItem = document.createElement('tr');
        productItem.innerHTML = `<td><strong>${product.title}</strong></td>` +
            `<td>${product.price}</td>` +
            `<td class="text-right"><img src="${product.thumbnailUrl}" alt="${product.title}" style="max-width:30px;"></td>`;
        productsTable.appendChild(productItem);
    });
    </script>
</body>
</html>